

.form-container {
    max-width: 600 px;
    margin: 0 auto;
    padding: 20px;
    border: 1 px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10 px rgba (0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display:block;
    margin: 20px 0;

}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.thank-you-note {
    margin-top: 20px;
    padding: 10px;
    background-color: #020101;
    border-left: 4px solid #007bff;
}

.modal-header-centered {
    justify-content: center;
  }
  
  .modal-title-centered {
    width: 100%;
    text-align: center;
  }
  
  .modal-body-centered {
    text-align: center;
  }
  
  .modal-footer-centered {
    justify-content: center;
  }
  